<md-tabs class="md-transparent" md-fixed>
  <md-tab id="coffee" md-label="Coffee">
	<md-layout md-gutter md-align="center">
		<router-link to="/order" class="md-card" style="width: 45%; margin: 5px;">
		  <md-card-media>
			<img src="../../assets/img/americano.jpg" alt="Americano">
		  </md-card-media>

		  <md-card-header>
			<div class="md-title">Americano</div>
		  </md-card-header>
		<md-ink-ripple />
		</router-link>

		<md-card style="width: 45%; margin: 5px;">
		  <md-card-media>
			<img src="../../assets/img/americano.jpg" alt="Americano">
		  </md-card-media>

		  <md-card-header>
			<div class="md-title">Americano</div>
		  </md-card-header>
		</md-card>
	</md-layout>
  </md-tab>

  <md-tab id="food" md-label="Food">
    <p>This is food category.</p>
  </md-tab>

  <md-tab id="etc" md-label="Etc">
    <p>This is etc category.</p>
  </md-tab>
</md-tabs>
